@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Administrador de restaurantes";

}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
               
            </hgroup> 
        </div>
    </section>
}
  <div>
      <h3>Bienvenido ! Seleccione una opción del menú superior para comenzar</h3>
  </div>

 