
@{
    ViewData["Title"] = "Card";
}

<div class="card " style="margin-bottom:40px">
    <div class="card-content flow-text">
        <a id="delete" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <span class="card-title">Producto</span>
        <div class="row">
            <div class="col-sm-3">
                <p></p>
            </div>
            <div class="col-sm-3">
                <p >Nombre</p>
            </div>
            <div class="col-sm-3">
                <p>Precio</p>
            </div>
            <div class="col-sm-3">
                <p>Cantidad</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
               <img src="" height="100" width="100"/>
            </div>
            <div class="col-sm-3">
              <p id="nombre"></p>
            </div>
            <div class="col-sm-3">
               <p id="precio"></p>
            </div>
            <div class="col-sm-3">
                <input id="cantidad" type="number" />
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="red-text" href="#"></a>
    </div>
</div>



