################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restaurante/v15/Server/sqlite3/db.lock
/packages
/.vs/Restaurante/v16/Server/sqlite3
/.vs/Controladores/v15/Server/sqlite3
/.vs/Controladores/config
/.vs/Controladores/DesignTimeBuild
/.vs/Controladores/v15
/.vs/Controladores/v16/Server/sqlite3
/.vs/Restaurantes/DesignTimeBuild
/.vs/Restaurantes/v15
/Controladores/bin/Debug/netcoreapp2.2
