@model LoginViewModel


<div class="card" style="margin-top:40px">
    <div class="card-content ">
        <span class="card-title center">Login</span>
        <form method="post">
            <div class="input-field col-sm-12">
                <i class="material-icons prefix">email</i>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-field col-sm-12">
                <i class="material-icons prefix">lock</i>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-field center">
                <a asp-action="Registrarse">Crear usuario</a>
            </div>
            <div class="center">
                <button class="btn btn-primary red accent-3">Iniciar Sesion</button>
            </div>
            
        </form>
    </div>
    <div class="card-action">
        
    </div>
</div>



