<div class="row row-producto">
    <div class="col-sm-3">
        <label class="nombreProducto">
            Producto X
        </label>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <input class="cantidadProducto form-control" type="number" min="1" value="1" />
        </div>
    </div>
    <div class="col-sm-3">
        <label class="precioProducto">
            0
        </label>
    </div>

    <div class="col-sm-3">
        <label class="subtotalProducto">
            0
        </label>
    </div>

    <div class="col-sm-1">
        <a class="eliminarProducto fa fa-trash"></a>
    </div>
    <input type="hidden" class="id-producto" />
</div>
