<div class="row row-orden">
    <div class="col-sm-1">
        <label class="idOrden">

        </label>
    </div>
    <div class="col-sm-4">
        <label class="estatusOrden">

        </label>
    </div>
    <div class="col-sm-3">
        <label class="totalOrden">

        </label>
    </div>
    <div class="col-sm-3">
        <label class="fechaOrden">

        </label>
    </div>
    <div class="col-sm-1">
        <a class="editarOrden fa fa-pencil"></a>
    </div>
    <input type="hidden" class="idOrden" />
</div>


