
    <div class="producto">
        <label class="product-name col-sm-5"></label>
        <label class="product-precio col-sm-7"></label>  
        <input type="hidden" class="id-producto" />
    </div>

