<div class="row row-orden">
    <div class="col-sm-2">
        <label class="idOrden">

        </label>
    </div>
    <div class="col-sm-3">
        <label class="estatusOrden">

        </label>
    </div>
    <div class="col-sm-2">
        <label class="totalOrden">

        </label>
    </div>
    <div class="col-sm-4">
        <label class="fechaOrden">

        </label>
    </div>
    <div class="col-sm-1">
        <a title="Editar" class="editarOrden fa fa-pencil"></a>
        <a title="Cambiar Estatus" class="cambiarEstatus fa fa-retweet"></a>
    </div>
    <!--<input type="hidden" class="idOrden" />-->
</div>


