@model List<Empleado>

<a asp-action="AgregarEmpleado" asp-route-restaurante="@ViewData["empleadoId"]">Agregar Empleado</a>
<table>
    @foreach (var emp in Model)
    {
    <tr>
        <td>@emp.Nombre</td>
        <td>@emp.Puesto</td>
    </tr>
    <form asp-action="EliminarEmpleado"><button type="submit" name="Id" value="@emp.Id">Eliminar</button>></form>
    }
</table>