@model MesaViewModel
<form id="FormularioMesa">
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label asp-for="Identificador"> Nombre </label>
        <input class="form-control" asp-for="Identificador" />
        <span asp-validation-for="Identificador" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Capacidad"></label>
        <input class="form-control" asp-for="Capacidad" />
        <span asp-validation-for="Capacidad" class="text-danger"></span>
    </div>
</form>