@model RestauranteViewModel
<div class="card">
    <div class="card-header">
        @ViewData["Accion"] restaurante
    </div>
    <div class="card-body">
        <form asp-action="@ViewData["Accion"]" asp-antiforgery="true">
            <div class="text-danger">
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input class="form-control" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion"></label>
                <input class="form-control" asp-for="Direccion" />
                <span asp-validation-for="Direccion" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Telefono"></label>
                <input class="form-control" asp-for="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PaginaWeb"></label>
                <input class="form-control" asp-for="PaginaWeb" />
                <span asp-validation-for="PaginaWeb" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="HoraDeCierre"></label>
                <input class="form-control" asp-for="HoraDeCierre" />
                <span asp-validation-for="HoraDeCierre" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

@section Scripts{
   @Html.Partial("_ValidationScriptsPartial")
}