@model RestauranteViewModel

    <form id=" Formulario">
        @Html.ValidationSummary(true)


        <div class="form-group">
            <label asp-for="Logo"></label>
            <input class="form-control" asp-for="Logo" />
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nombre">Nombre</label>
            <input class="form-control" asp-for="Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Direccion"></label>
            <input class=" form-control" asp-for="Direccion" />
            <span class="form-control" asp-for="Direccion" class="text-danger"></span>
        </div>

        <div class=" form-group">
            <label asp-for="Telefono"></label>
            <input class="form-control" asp-for="Telefono" />
            <span asp-validation-for="Telefono" class"text--danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PaginaWeb"></label>
            <input class="form-control" asp-for="PaginaWeb" />
            <span asp-validation-for="PaginaWeb" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HoraCierre"></label>
            <input class="form-control" asp-for="HoraCierre" />
            <span asp-validation-for="HoraCierre" class="text-danger"></span>
        </div>
    </form>
