@model RestauranteViewModel
<div class="card">
    <label>Agregar restaurante</label>

    <div class="">
        <form asp-action="@ViewData["Accion"]" asp-antiforgery="true">
            @Html.ValidationSummary()
            <div class="text-danger">@Html.ValidationSummary(true)</div>
            <div class="form-group">
                <label asp-for="Nombre">Nombre</label>
                <input class="form-control" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion">Dirección</label>
                <input class="form-control" asp-for="Direccion" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono">Teléfono</label>
                <input class="form-control" asp-for="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaginaWeb">Página Web</label>
                <input class="form-control" asp-for="PaginaWeb" />
                <span asp-validation-for="PaginaWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraDeCierre">Hora de cierre</label>
                <input class="form-control" asp-for="HoraDeCierre" />
                <span asp-validation-for="HoraDeCierre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

@section Scripts{ 
 @Html.Partial("_ValidationScriptsPartial");
}