@model  RestauranteViewModel
<div class="card">
    <div class="card-header">
        Agregar restaurante
    </div>
    <div class="card-body">
        <form asp-action="@ViewData["Accion"]">
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input class="form-control" asp-for="Nombre" />
            </div>
            <div class="form-group">
                <label asp-for="Direccion"></label>
                <input class="form-control" asp-for="Direccion" />
            </div>
            <div class="form-group">
                <label asp-for="Telefono"></label>
                <input class="form-control" asp-for="Telefono" />
            </div>
            <div class="form-group">
                <label asp-for="PaginaWeb"></label>
                <input class="form-control" asp-for="PaginaWeb" />
            </div>
            <div class="form-group">
                <label asp-for="HoraDeCierre"></label>
                <input class="form-control" asp-for="HoraDeCierre" />
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>