<header style="background-color:aquamarine">
    <a>
        <img src="~/img/Administrador-restaurante.jpg" height="300" width="700" style="margin-left:120px"  />
        <img src="~/img/dish.png" height="100" width="100" style="margin-left:120px" />
    </a>
     
  
</header>


            <br />
            <div>
                <br>
                <h3 style="background-color:sandybrown">  <em>Listado de Restaurantes</em></h3>
                <br>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table" id="tabla-contenido">
                    <thead>
                        <tr>
                            <th>Img</th>
                            <th>Nombre</th>
                            <th>Domicilio</th>
                            <th>Teléfono</th>
                            <th>Mesas</th>
                            <th>Empleados</th>
                            <th>Productos</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal modal-primary fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="agregarModalLabel">Nuevo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" id="modalcuerpo"></div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal modal-success fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="editarModalLabel">Editar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" id="modaleditarcuerpo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnEditarModal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>


            @section Scripts{
                <script type="text/javascript">

        // Globals
        let table;

         window.onload = function () {
            document.getElementById("btnGuardarModal").addEventListener("click", function () { Guardar(); })
            document.getElementById("btnEditarModal").addEventListener("click", function () { Editar(); })
        }

        // Lipiar campos del modal
         function LimpiarModales() {
            const bodies = document.querySelectorAll("modal-body");
            for (i = 0; i < bodies.length; i++) { bodies[i].innerHTML = ""; }
        }


         // Editar Modal
        function MostrarEditar(id) {


            fetch("@Url.Action("Editar","Home")/" + id, {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                        LimpiarModales();
                        document.querySelector("#modaleditarcuerpo").innerHTML = text;
                        $("#editarModal").modal("show");

                    })
                }
            });


        }

        // Abrir Modal
        function ModalAbrir() {
            fetch("@Url.Action("Agregar", "Home")", {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                        LimpiarModales();
                        document.querySelector("#modalcuerpo").innerHTML = text;
                        $("#agregarModal").modal("show");
                    })
                }
            });
        }

        // Editar Data
        function Editar() {
            const data = {};
            data["logo"] = document.querySelector("#logo").value;
            data["Nombre"] = document.querySelector("#Nombre").value;
            data["Domicilio"] = document.querySelector("#Domicilio").value;
            data["Telefono"] = document.querySelector("#Telefono").value;
            data["PaginaWeb"] = document.querySelector("#PaginaWeb").value;
            data["HoraDeCierre"] = document.querySelector("#HoraDeCierre").value;
            data["Id"] = document.querySelector("#Id").value;

            fetch("/api/restaurante", {
                method: "PUT",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                if (response.ok) {
                    table.ajax.reload(Callback);
                    $("#editarModal").modal("hide");
                }
            });
        }

        // Editar Data
        function Guardar() {
            const data = {};
            data["Nombre"] = document.querySelector("#Nombre").value;
            data["Domicilio"] = document.querySelector("#Domicilio").value;
            data["Telefono"] = document.querySelector("#Telefono").value;
            data["Logo"] = document.querySelector("#Logo").value;
            data["PaginaWeb"] = document.querySelector("#PaginaWeb").value;
            data["HoraDeCierre"] = document.querySelector("#HoraDeCierre").value;

            fetch("/api/restaurante", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                if (response.ok) {
                    table.ajax.reload(Callback);
                    $("#agregarModal").modal("hide");
                }
            });
        }

        function Callback() {
            const buttons = document.querySelectorAll(".editar-modelo");
            for (i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function () {
                    MostrarEditar(this.dataset.id);
                });
            }
        };

        $(document).ready(function () {
            table = $("#tabla-contenido").DataTable({
                initComplete: Callback,
                ajax: {
                    url: '/API/Restaurante',
                        dataSrc: ""
                },
                columns: [
                    {
                        data: 'logo',
                        render: function (data, type, row) { return '<img src="' + data + '" style="max-width:70px; min-height:70px;" />'; }
                    },
                    {
                        data: 'nombre',
                        render: function (data, type, row) { return '<a href="@Url.Action("PerfilRestaurante")/' + row.id + '">' + data + '</a>'; }
                    },
                    { data: 'domicilio' },
                    { data: 'telefono' },
                    {
                        data: 'mesas',
                        render: function (data, type, row) {
                            return '<a class="btn btn-link" href="Mesa/Mesas/' + row.id + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'empleados',
                        render: function (data, type, row) {
                            return '<a class="btn btn-link" href="Empleados/Index/' + row.id + '">' + data + '</a>';
                        }
                    },
                     {
                        data: 'productos',
                        render: function (data, type, row) {
                            return '<a class="btn btn-link" href="Producto/Index/' + row.id + '">' + data + '</a>';
                        }
                    },
                      
                    {
                        render: function (data, type, row) {
                            return '<a class="btn btn-primary editar-modelo" data-id="' + row.id + '">Editar</a>';
                        },
                    }
                ],
                select: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Nuevo',
                        action: function () {
                        ModalAbrir();
                        }
                    },
                    {
                    text: 'Eliminar',
                        action: function () {
                            bootbox.confirm("Seguro de eliminar este elemento?", function (IsConfirmed) {
                                if (IsConfirmed) {
                                    var ids = [];
                                    var rows = table.rows({ selected: true }).data();
                                    console.log(rows);
                                    for (var x = 0; x < rows.length; x++) {
                                        var row = rows[x];
                                        ids.push(row.id);
                                    }
                                    console.log(ids);

                                    $.ajax({
                                        type: 'DELETE',

                                        url: '/api/restaurante',
                                        contentType: 'application/json',
                                        data: JSON.stringify(ids),
                                        success: function () { table.ajax.reload(Callback); }
                                    });
                                }
                            });
                        }
                    },
                    'copy', 'excel', 'pdf',
                ]
            });
        });
                </script>
                @await Html.PartialAsync("_ValidationScriptsPartial")
            }
