@model List<Mesa>
<h1>Mesas</h1>

<a class="btn btn-outline-primary" asp-action="AgregarMesa" asp-route-id="@ViewData["restauranteId"]">Agregar mesa</a>
<table class="table table-bordered" id="tabla-mesas-contenido">
    <thead>
        <tr>
            <th>ID</th>
            <th>Identificador</th>
            <th>Capacidad</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{
<script>
     $(document).ready( function () {
        var table = $('#tabla-mesas-contenido').DataTable({
            ajax: {
                url: '/api/mesas/@ViewData["restauranteId"]',
                dataSrc: '',

            },
            columns:[
                {data: 'id'},
                {data: 'identificador'},
                {data: 'capacidad'},

                {
                    data: '',
                    render: function(data,type,row){
                        return '<a class="btn btn-outline-primary" href="@Url.Action("EditarMesa")/' + row.id + '">Editar</a>'
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                'copy','excel', 'pdf',
                {
                    text: 'Eliminar',
                    action: function(){

                        bootbox.confirm("¿Seguro que quieres eliminar estos elementos?", function(IsConfirmed){
                            if (IsConfirmed) {
                                var rows = table.rows( { selected: true } ).data();

                                var ids = [];
                                for(var x = 0; x < rows.length; x++){
                                    ids.push(rows[x].id);
                                }

                                $.ajax({
                                    url: '/api/mesas',
                                    data: '[' + ids.toString() + ']',
                                    contentType: 'application/json',
                                    type: 'DELETE',
                                    success: function(){
                                        table.ajax.reload();
                                    }
                                });
                            }
                        });
                    }
                }
            ]
        });
    });
</script>
}