@model List<Mesa>
@{

}
@{
    ViewData["Title"] = "Mesas";
}
<h1>Mesas</h1>
<a class="btn btn-primary btn-block" asp-route-id="@ViewData["restauranteId"]" asp-action="AgregarMesa">Agregar mesa</a>
<table class="table table-bordered" id="tabla-mesas-contenido">
    <thead>
        <tr>
            <th>Id</th>
            <th>Identificador</th>
            <th>Capacidad</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody id="tabla-mesas"></tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#tabla-mesas-contenido').DataTable({
                ajax:
                {
                    url: '/api/mesas',
                    dataSrc: '',
                },
                columns: [
                    { data: 'id' },
                    { data: 'identificador' },
                    { data: 'capacidad' },
                    {
                        data: '',
                        render: function (data, type, row) {
                            return '<a class="btn btn-outline-dark" href="@Url.Action("EditarMesa")/' + row.id + '">Editar</a>'
                        }
                    }
                ],
                select: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf',
                    {
                        text: 'Eliminar',
                        action: function ()
                        {
                            var rows = table.rows({ selected: true }).data();
                            var ids = [];
                            for (var x = 0; x < rows.length; x++)
                            {
                                ids.push(rows[x].id);
                            }

                            $.ajax(
                                {
                                    url: '/api/mesas/',
                                    data: '[' + ids.toString() + ']',
                                    contentType: 'application/json',
                                    type: 'DELETE',
                                    success: function () {
                                        table.ajax.reload();
                                    }
                                });
                            console.log(ids);
                        }
                    }
                ]
            });
        });
    </script>
}
