@model int


<h1>
    Ordenes de Restaurante
</h1>

<a class="btn btn-primary mb-3 btn-enviar" onclick="AgregarOrden()">Agregar Orden</a>

<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th>Total</th>
                    <th>Cuenta</th>
                    <th>Abrir/Cerrar</th>
                </tr>
            </thead>
            <tbody id="Ordenes">
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    //TEXTO
    //var tr = "<div class='row'> <div class='column'><div class='card' id='card'><h3 class='Id'>Id</h3> <p class='FechaAlta'>FechaAlta</p><p class='Estatus'>Estatus</p></div></div> </div>"
        var template;

        function AgregarOrden() {
            var RestauranteId = @ViewData["RestauranteId"];

            $.post("/api/ordenes/NuevaOrden", { RestauranteId: RestauranteId }, function (res) { })
            $("#Ordenes").empty().delay(10);
            Recargar();

        };
               
        function CambiarEstatus(link) {
            var id = $(link).data("id");
            var estatus = $(link).data("estatus");
            var orden = {};
            orden.Id = id;
            orden.Estatus = estatus;

            var req = JSON.stringify(orden);

            $.post("/api/ordenes/CambiarEstatus", { ord: req }, function (res) { })
            $("#Ordenes").empty().delay(10);
            Recargar();
        }               

        $(document).ready(function () {

            ///Obtiene el template del div de Orden en TEXTO

            $.get("@Url.Action("OrdenesView","Home")", function (res) {
                template = res;
            })
            Recargar();
        });
                      

        var ResId = @ViewData["RestauranteId"];
        function Recargar() {
             $.getJSON("/api/ordenes/@Model" , function (res) {
            $.map(res,function (r,val) {
                var element = $(template);  //Convierte el template en un elemento HTML/JQUERY

                var date = r.fechaAlta;
                var newdate = date.substring(0, 10) + '   ' + date.substring(11, 16);

                element.find('.orden-id').text(r.id);  //REEMPLAZA EL VALOR
                element.find('.orden-fechaAlta').text(newdate);  //REEMPLAZA EL VALOR
                if (r.estatus == '0') {
                    element.find('.orden-estatus').text('Abierta');  //REEMPLAZA EL VALOR
                }
                else {
                     element.find('.orden-estatus').text('Cerrada');  //REEMPLAZA EL VALOR

                }
                element.find('.orden-total').text('$' + r.total);  //REEMPLAZA EL VALOR
                element.find('.orden-id2').prop('href', "@Url.Action("OrdenTieneProductos", "Home")/?id=" + r.id + '&resid=' + ResId);
                element.find('.orden-cambiarestatus').data("id", r.id).data("estatus", r.estatus);
                $("#Ordenes").append(element); //LO AGREGA AL DIV
            })
       })
        }
    
    </script>
}