@model int
<tr>
    <td class="orden-id"></td>
    <td class="orden-fechaAlta"> </td>
    <td class="orden-estatus"></td>
    <td class="orden-total"></td>
    <td><a class="orden-id2"> Ver </a></td>
</tr>
