@model int
    <tr>
        <td class="ordentieneproducto-nombre" data-prodid="1" data-precio="0" onclick="EliminarOrden(this)"></td>
        <td class="ordentieneproducto-precio"></td>
        <td class="ordentieneproducto-cantidad"></td>
    </tr>
