@model int
<h1>
    Productos
</h1>

<a class="btn btn-primary mb-3" onclick="MostrarAgregarProducto()">Agregar producto</a>
<div>
    <div>
        <div>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <table class="table table-bordered " id="tabla-productos-contenido">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Ingredientes</th>
                        <th>Cantidad</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCuerpo">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarProducto()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>


    function MostrarAgregarProducto() {
        var req = new XMLHttpRequest();
        req.open("GET", "@Url.Action("AgregarProducto", "Home")", true);

            req.send();

        req.onreadystatechange = function () {
            if (req.status==200) {
                document.getElementById("modalCuerpo").innerHTML = req.responseText;
                $('#agregarModal').modal("show");//Jquery
            }
        }
    };

        function GuardarProducto() {

            var Nombre = document.getElementById("Nombre").value;
            var Precio = document.getElementById("Precio").value;
            var Ingredientes = document.getElementById("Ingredientes").value;
            var Cantidad = document.getElementById("Cantidad").value;
            var RestauranteId = @ViewData["RestauranteId"];
            

        var fd = {};

            fd["Nombre"] = Nombre;
            fd["Precio"] = Precio;
            fd["Ingredientes"] = Ingredientes;
            fd["Cantidad"] = Cantidad;
            fd["RestauranteId"] = RestauranteId;


        fetch("/Api/productos/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(fd)
        }).then(function (response) {
            if (response.ok) {
                $("#agregarModal").modal("hide");//JQUERY
                table.ajax.reload();
            }
        });
        }

    var table;
    $(document).ready( function () {
            table = $('#tabla-productos-contenido').DataTable({
            ajax: {
                url: '/api/productos/?id=@Model',
                dataSrc: '',
            },
            columns: [
                { data: 'id' },
                { data: 'nombre' },
                { data: 'precio' },
                {data: 'ingredientes' },
                {data: 'cantidad' },
                {
                    render: function (data, type, row) {
                        return '<a class="btn btn-outline-dark" href="@Url.Action("EditarProducto")/' + row.id + '">Editar</a>'
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf',
                {
                    text: 'Eliminar',
                    action: function () {
                        var rows = table.rows({ selected: true }).data();

                        var ids = [];
                        for (var x = 0; x < rows.length; x++) {
                            ids.push(rows[x].id);
                        }

                         $.ajax({
                             url: '/api/productos',
                             data: '[' + ids.toString() + ']',
                             contentType: 'application/json',
                            type: 'DELETE',
                             success: function () {
                                 table.ajax.reload();
                             }
                         });

                        console.log(ids);
                    }
                }
            ]
        });

    } );
    </script>
}

@*@section Scripts{
        @Html.Partial("_ValidationScriptsPartial")
    }*@