<div class="row">
    <div class="col-sm-8">
        <li class="list-group-item" id="elemento"></li>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-sm btn-danger" id="btn-delete" style="color:white;"><i class="far fa-trash-alt"></i></a>
        <input type="hidden" id="nombre"/>
        <input type="hidden" id="productoId"/>
        <input type="hidden" id="precio"/>
        <input type="hidden" id="cantidad"/>
        <input type="hidden" id="ordenId"/>


    </div>
</div>
    
