<div class="col-sm-3 orden-card">
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Orden número: <b class="card-id"></b></div>
            <div class="card-body">
                <p class="card-title"></p>
                <p class="card-hour"></p>
                <p class="card-estatus" style="color: green"></p>
                <p>TOTAL: <b class="card-total"></b></p>
                <input type="hidden" class="card-id-val" value=""/>
            </div>
        </div>
    </div>