<div class="col-sm-3 ord-card">
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Orden número: <b class="card-id"></b></div>
            <div class="card-body">
                <p class="card-title">Success card title</p>
                <p class="card-estatus"></p>
                <p>TOTAL: <b class="card-total"></b></p>
                <a class="btn btn-outline-secondary">Editar</a>
            </div>
        </div>
    </div>