<a href="#" class="list-group-item list-group-item-action flex-column align-items-start enlace">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" id="titulo">Orden 5</h5>
        <small id="fecha">10 de Octubre 2019</small>
    </div>
    <p class="mb-1" id="estatus">Estatus: Abierta</p>
    <p class="mb-1" id="total">Total: $0</p>
    <small id="productos">0 productos</small>
</a>



