
<div class="col-sm-4">
    <div class="card text-white bg-dark mb-3 producto">
        <div class="card-header"></div>

        <img class="imagen" style="height: 100px; width: 100%; display: block;" src="" alt="Card image">
        <input type="hidden" id="id-producto">
        <input type="hidden" id="precio-producto">
        <input type="hidden" id="product-name">

    </div>
</div>