<div class="col-sm-4 prod-card">
    <div class="card border-primary mb-3" style="max-width: 10rem; min-height:9rem">
        <div class="card-body">
            <h4 class="card-title">Nombre</h4>
            <p class="card-text">100</p>
            <input type="hidden" class="card-id" value=""/>
            <input type="hidden" class="card-nombre" value=""/>
            <input type="hidden" class="card-precio" value=""/>
        </div>
    </div>
</div>