

<div class="producto" data-precio="100" data-nombre="Producto X" data-id="0">
    <div class="row">
        <div class="column">
            <label class="product-name">Producto X</label>
        </div>
        <div class="column">
            <label class="id-producto">0</label>
        </div>
        <div class="column">
            <label class="precio-producto">100</label>
        </div> 
        <input type="hidden" class="nombre-producto" />
        <input type="hidden" class="id-producto" />
        <input type="hidden" class="precio-producto" />
    </div>
    
    
    
    

</div>
