<div class="producto" data-precio="100" data-nombre="Producto X">
    <label class="product-name">Producto X</label>
    <label>Precio $100</label>
    <input type="hidden" class="precio-producto" />
    <input type="hidden" class="id-producto" />

</div>

