@model List<Orden>
<h1>Órdenes</h1>

<div class="row" id="Ordenes">
    
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script>
     $(document).ready(function () {
        var template;
        $.get("@Url.Action("OrdenCard","Ordenes")", function (res) {
            template = res;
        })
         $.getJSON('/api/ordenes/@ViewData["RestauranteId"]', function(ordenes){
            $.map(ordenes, function(orden, val){
                var element = $(template);
                var fecha = new Date(orden.fechaAlta);
                element.find('.card-id').text(orden.id);
                element.find('.card-title').text(fecha);
                element.find('.card-total').text(orden.total);
                if(orden.estatus == 1){
                    element.find('.card-estatus').text("ABIERTA");
                }else{

                    element.find('.card-estatus').text("CERRADA");
                }
                $("#Ordenes").append(element);
            })
         })
    })
</script>